#container{
    display: flex; 
    flex-direction: column;
    width: 50vw;
}

.pixel{
    flex: 1 1 auto;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.pixel::before{
    content:'';
    display: block;
    padding-top:100%;

}

.row {
    display: flex;
}